@model IEnumerable<createform.Models.userform>
@{
    ViewBag.Title = "Index";
}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" onclick="Create()" data-toggle="modal" data-target="#myModal">
  Create
</button>
@*
<button class="btn btn-default">@Html.ActionLink("Create","Create","Home")</button>*@
<div class="Container">
<table id="myTable" class="table">
<thead>
<tr>
<th>ID</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Address</th>
<th>Country</th>
<th>State</th>
<th>City</th>
<th>Number</th>
<th>Edit</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{ 
@Html.Partial("empartial", item)
    }
@*<tr>
<td>@i.id</td>
<td>@i.firstname</td>
<td>@i.lastname</td>
<td>@i.email</td>
<td>@i.address</td>
<td>@i.countryid</td>
<td>@i.stateid</td>
<td>@i.cityid</td>
<td>@i.number</td> 
<td><button type="button" class="btn btn-success" onclick="edit('@i.id')" data-toggle="modal" data-target="#myModal">
  Edit
</button></td>
<td><button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", "Home", new { @id=i.id}, null)</button></td>
</tr>*@
</tbody>

</table>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
     
        </div>
        </div>
      </div>
     </div>



<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#myTable').dataTable();
    });


    function Create() {
        debugger;
        $.ajax({
            url: '/Home/Create',
            method: 'GET',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: {},
            success: function (html) {
                debugger;
                $('#myModal .modal-body').html(html);

                $('#myModal').modal('show');

            },
            error: function (error) {
                debugger;
                $('#myModal .modal-body').html(error.responseText);

                $('#myModal').modal('show');
            }
        });


    }






    function edit(id) {
        debugger;
        $.ajax({
            url: '/Home/Edit',
            method: 'GET',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: {id:id},
            success: function (html) {
                debugger;
                $('#myModal .modal-body').html(html);

                $('#myModal').modal('show');

            },
            error: function (error) {
                debugger;
                $('#myModal .modal-body').html(error.responseText);

                $('#myModal').modal('show');
            }
        });


    }


</script>
